* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .chef-page {
    display: flex;
  }
  
  .chef-content {
    margin-left: 200px;
    color: rgb(97, 94, 94);
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .title {
    color: #e8bb49;
    padding-left: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .text{
    margin-bottom: 10px;
  }
  .form-section {
    max-width: 70%;
    margin-left: 15%;
  }
  .step-no{
    width: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    background-color: #e8bb49;
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  .Inputs {
    display: block;
  }
  .detail-input{
    width: 100%;
    height: 40px;
  }
  input{
    border: 1px solid #ccc;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-group {
    width: 175px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    padding: 5px;
    margin-right: 10px;
    width: 100px;
  }
  
  .input-group span {
    margin-left: 5px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #e8bb49;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #ba9435;
  }
  .Outputs-button{
    justify-content: center;
  align-items: center;
    display: flex;
  }
  .Outputs-button button{
    width: max-content;
  }
  .Output {
    margin: 40px auto;
    padding: 20px;
    width: 60%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .Output h3 {
    margin-bottom: 20px;
  }
  
  .Output ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
  }
  
  .Output ol li {
    margin-bottom: 10px;
  }
  