.Home{
background-color: white;
}

.container{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-left: 50px;
  
}
.about{
  background-color: white;
  float: left;
  width: 50%;
  height: 50%;

}
.about h1{
  margin-top: 20px;
  width: 80%;
  font-size: 4.5em;
  line-height: 65px;
}

.about p{
  text-align: start;
  color: #a19c9c;
}
.about_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_image img {
  width: 100%;
  max-width: 500px; /* Adjust as necessary */
  height: auto;
  border-radius: 10px; /* Optional: add some rounding to the corners */
}

.Primary-text{
  color: #F2B418;
}


.cta-button {
  margin-top:10px;
  background-color: #e8bb49;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.features {
  background-color: white;
  padding: 50px 0;
  text-align: center;
}

.features h2 {
  font-size: 2em;
  line-height: 40px;
}
.features p{
  color: #a19c9c;
  margin-top: 1px;
  margin-bottom: 0px;
}

.feature-cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  margin-top: 50px;
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  width: calc(100% - 20px); /* Full width */
}



.feature-content {
  color: #a19c9c;
  text-align: start;
  align-items: start;
  float: left;
  width:50%;
}
.feature-content p{
  text-align: start;
  margin-bottom: 20px;
}
.image-div{
  
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-div img{
  width: 80%;
  max-width: 500px; /* Adjust as necessary */
  height: auto;
  border-radius: 10px; /* Optional: add some rounding to the corners */
}

.feature-card h3 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.testimonials {
  background: white;
  padding: 50px 20px;
  text-align: center;
}

.testimonials h2 {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: -20px;
}

.testimonials-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  background: #d8d4d4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 300px;
}