.sidebar {
  width: 200px;
  background: #f9f5f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Make sidebar take full height */
  position: fixed; /* Fix the sidebar in place */
  top: 0;
  left: 0;
  padding-bottom: 30px;
}

.sidebar-header {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.Logo-image {
  margin-right: -10px;
  width: 50px; /* Adjust size as needed */
  height: 50px;
  
}
.Logo h1{
  font-size: 1.5rem;
}
.sidebar-nav{
  
  display: grid;
  width: 150px;
  padding-left: 10px;
  row-gap: 10px;
}

.sidebar-nav a {
  text-decoration: none;
  color: #333;
}

.sidebar-nav a:hover {
    background-color: #eed79d;
    border-radius: 5px;

}


